<footer class="footer">
  <div class="footer-content">
    <div class="logo-contact">
      <div class="logo">
        <img src="assets/logo.png" alt="Eventoco Logo">
      </div>
    </div>
    <div class="contact">
      <img src="assets/email.png" alt="Email Icon">
      <span>eventoco.0105&#64;gmail.com</span>
    </div>
    <div class="social-links">
      <div class="row">
        <div class="col">
          <a href="#"><img src="assets/youtube.png" alt="YouTube"></a>
          <a href="#"><img src="assets/instagram.png" alt="Instagram"></a>
        </div>
        <div class="col">
          <a href="#"><img src="assets/facebook.png" alt="Facebook"></a>
          <a href="#"><img src="assets/whatsapp.png" alt="WhatsApp"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>Copyright © 2024 EventoCo</p>
  </div>
</footer>
