<div class="main-container">
  <section class="hero-section">
    <div class="hero-content">
      <h1>EventoCo, te ayuda a la gestion de tus eventos.</h1>
      <p>Sencillo y fácil de usar, todo lo que necesitas está aquí, vive una experiencia que no olvidarás al organizar tus eventos.</p>
      <button>Empezar</button>
    </div>
    <div class="hero-image">
      <img src="./assets/computer.png" alt="Laptop">
    </div>
  </section>
  <section class="features-section">
    <h2>Haz lo que te apasiona</h2>
    <div class="features">
      <div class="feature">
        <img src="./assets/microphone.png" alt="Evento Social">
        <p>Evento Social</p>
      </div>
      <div class="feature">
        <img src="./assets/events-enterprise.png" alt="Evento Empresarial">
        <p>Evento Empresariales</p>
      </div>
      <div class="feature">
        <img src="./assets/events-deport.png" alt="Evento Deportivo">
        <p>Evento Deportivos</p>
      </div>
      <div class="feature">
        <img src="./assets/funds.png" alt="Evento Recaudación de Fondos">
        <p>Evento Recaudación de Fondos</p>
      </div>
    </div>
  </section>
</div>
