.edit-user {
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 20px;
  max-width: 400px;
  margin: auto;
  background-color: #f5ede7;
  font-family: Outfit;
}

.edit-user h2 {
  text-align: center;
  margin-bottom: 24px;
  font-size: 24px;
  color: #333;
}

.form-group {
  margin-bottom: 16px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #555;
}

.form-control {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: #e0e0e0;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.btn {
  display: block;
  width: 50%;
  margin: auto;
  padding: 10px;
  background-color: #ff6600;
  border: none;
  color: white;
  border-radius: 40px;
  font-size: 16px;
  cursor: pointer;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.flex-item {
  flex: 1;
  margin-right: 10px;
}

.flex-item:last-child {
  margin-right: 0;
}
